<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-white py-md-2 shadow-sm sticky-top">
    <div class="container">
    <h1 class="navbar-brand ml-4 ml-md-0 mb-0">
      <a href="index.html">D'Perfume 香水電商網站</a>
    </h1>
    <a class="navcart text-secondary d-inline-block d-md-none ml-auto position-relative mr-4" href="#">
      <span class="material-icons">shopping_cart</span>
      <span class="badge badge-pill badge-primary position-absolute"
        style="top:-5px;right:-15px">3</span>
    </a>

  
  <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link font-size-lg py-3 py-md-2 mr-md-3 d-flex align-items-center font-weight-light  justify-content-center " href="products.html">
            <span class="material-icons d-none d-md-inline-block">store</span>Product
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-size-lg  py-3 py-md-2 mr-md-3 d-flex align-items-center font-weight-light justify-content-center" href="login.html">
            <span class="material-icons d-none d-md-inline-block">person</span>
            log in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-size-lg justify-content-center py-3 py-md-2 mr-md-3 d-flex align-items-center font-weight-light" href="member.html">
            <span class="material-icons d-none d-md-inline-block">favorite</span>Wishlist
          </a>
        </li>
        <li class="nav-item d-block d-md-none">
          <a class="nav-link font-size-lg justify-content-center py-3 py-md-2 mr-md-3 d-flex align-items-center font-weight-light" href="#">
            Blog
          </a>
        </li>
        <li class="nav-item d-block d-md-none">
          <a class="nav-link font-size-lg justify-content-center py-3 py-md-2 mr-md-3 d-flex align-items-center font-weight-light" href="#">
            Contact
          </a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link font-size-lg justify-content-center py-3 py-md-2 d-flex align-items-center font-weight-light" href="#">
            <span class="material-icons">shopping_cart</span>Cart(3)
          </a>
        </li>
    </ul>
  </div>
    </div>
  </nav>
  <%- contents %>
  <footer class="bg-primary py-4">
  <div class="container d-flex">
    <div class="d-flex align-items-center justify-content-between">
      <a href="#">
        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png" alt="logo">
      </a>
      <p class="text-white font-size-sm ml-5 ml-md-4">© 2020. All Rights Reserved.</p>
    </div>
    <ul class="nav ml-auto d-none  d-md-flex"> 
      <li class="nav-item"><a href="products.html" class="nav-link text-white h5">Product</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white h5">Blog</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white h5">Contact</a></li>
    </ul>
  </div>
</footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>

